@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Press Start 2P", cursive;
}
body .memory-game-container {
  display: grid;
  grid-template-columns: repeat(4, 170px);
  grid-gap: 10px;
}
body .matched {
  opacity: 0.5;
  pointer-events: none;
  background-color: #ccc;
  filter: grayscale(100%);
}
body .memory-card {
  position: relative;
  perspective: 1000px;
  width: 170px;
  height: 170px;
}
body .memory-card.flip .card {
  transform: rotateY(180deg);
}
body .memory-card .card {
  width: 170px;
  height: 170px;
  transition: transform 0.5s;
  backface-visibility: visible;
  position: absolute;
}
body .memory-card .back-face {
  background: linear-gradient(135deg, #ffc371, #ff5f6d);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
}
body .sprite {
  background-image: url("/src/assets/images/sprite.png");
  background-repeat: no-repeat;
}
body .image1 {
  background-position: -98px -155px;
}
body .image2 {
  background-position: -303px -155px;
}
body .image3 {
  background-position: -510px -155px;
}
body .image4 {
  background-position: -714px -155px;
}
body .image5 {
  background-position: -100px -358px;
}
body .image6 {
  background-position: -305px -362px;
}
body .image7 {
  background-position: -508px -352px;
}
body .image8 {
  background-position: -713px -355px;
}
body .start-screen {
  background: rgb(63, 201, 251);
  background: radial-gradient(
    circle,
    rgba(63, 201, 251, 1) 0%,
    rgba(70, 204, 252, 1) 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  font-family: "Press Start 2P", cursive;
  border-radius: 10px;
}
body .fancy-button {
  background: url("/src/assets/images/buttons.png");
  color: white;
  background-position: -15px -336px;
  width: 528px;
  height: 116px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
}
body .fancy-button:hover {
  transform: scale(1.05);
}
body .fancy-button:active {
  transform: scale(0.95);
}
body .win-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 2em;
  text-align: center;
}
body .win-overlay .heading {
  line-height: 110px;
}
body .win-overlay.active {
  display: flex;
}
body .win-overlay .restart-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 20px;
}
body .win-overlay .restart-button:hover {
  background: url("/src/assets/images/buttons.png");
  color: white;
}
body .score-container {
  display: flex;
  justify-content: space-around;
}
